<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp - URL view</title>
</head>
<%- include('./partials/_header') %>
<body style="background-color: rgb(24,24,24);">
  <div class="card text-center" style="background-color: rgb(24,24,24);">
      <div class="card-header"></div>
      <div class="card-body text-warning">
        <h5 class="card-title "><strong>TinyURL for:</strong> <a href="<%- urls[shortURL].longURL %>" class="text-light"><%= urls[shortURL].longURL %></a></h5>
        <p class="card-text"><strong>Short URL:</strong> <a href="/u/<%-shortURL%>"><%=shortURL%></a></p>
        <p class="card-text">
          <strong>Creation Date:</strong>
          <span class="text-success ml-2"><%=urls[shortURL].creationDate%></span>
        </p>
        <p class="card-text">
          <strong>Total clicks:</strong>
          <span class="text-success ml-2"><%=urls[shortURL].visits%></span>
          <span class="text-light"> --- </span> <strong>Unique clicks:</strong> 
          <span class="text-success ml-2"><%=urls[shortURL].uniqueVisits%></span>
        </p>
      </div>
    <div class="card-footer text-muted" style="background-color: rgb(53,53,53);">
      <div class="card-body my-auto">
        <form class="form-inline justify-content-center" action="/urls/<%-shortURL%>?_method=PUT" method="POST">
          <div class="form-group mb-2 ml-auto mr-auto">
            <label class="text-warning" for="longURL">New URL:</label>
            <div class="input-group mb-auto ml-2 mr-1">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon">https://www.</span>
              </div>
              <input class="form-control" type="text" name="longURL" placeholder="example.com" style="width: 250px">
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table text-center table-striped table-bordered table-secondary my-3" style="width: fit-content; margin: auto;">
      <thead style="background-color: rgb(53,53,53);">
        <tr>
          <th class="text-warning" colspan="2" scope="col">Most recent visits</th>
        </tr>
      </thead>
      <tbody class="text-dark">
        <% if (urls[shortURL].timestamps.length <= 0) { %>
          <tr>
            <td colspan="4"><strong>None...😦</strong></td>
          </tr>
          <%}%>
        <%for (let visit of urls[shortURL].timestamps) {%>
          <tr>
            <th scope="col"><%=visit['visitor_id']%></th>
            <th scope="col"><%=visit['timestamp']%></th>
          </tr>
        <%}%>
        
      </tbody>
    </table>
  </div>
  
  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>